[Unit]
Description=QCTF task 'Airplane'
After=network.target

[Service]
ExecStart=/usr/bin/env python3 server.py
WorkingDirectory=/root/qctf-starter-2016/Airplane/server/
Restart=always
Type=simple

[Install]
WantedBy=multi-user.target
