[Unit]
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/var/www/deploy/simple-web
ExecStartPre=-/usr/bin/docker-compose down
ExecStart=/ust/bin/docker-compose up
ExecStop=/usr/bin/docker-compose stop

[Install]
WantedBy=multi-user.target
