{% extends "qctf_checksystem/base.html" %}

{% block title %}Биржа{% endblock %}

{% block content %}
  <div class="tim-title">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Место</th>
            <th>Команда</th>
            <th>Баланс</th>
            <th>Решено</th>
            <th>Покупок на бирже</th>
            <th>Площадка</th>
          </tr>
        </thead>
        <tbody>
          {% for team in teams %}
            <tr>
              <td>{{ team.get_place }}</td>
              <td>{{ team.get_name }}</td>
              <td>{{ team.balance }}</td>
              <td>{{ team.tasks_number }}</td>
              <td>{{ team.hints.count }}</td>
              <td>{{ team.region.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
{% endblock %}
