{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">

      {% if error_message is defined %}
        <p style="color: red">{{ error_message }}</p>
      {% endif %}

      <form action="/register" method="post">
        <h3>Register</h3>
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9">
                <input type="text" id="username" placeholder="Username" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9">
                <input type="password" id="password" placeholder="Password" class="form-control">
            </div>
        </div>

        <div class="form-group">
          <div class="col-sm-9 col-sm-offset-3">
            <button value="Register" type="submit" class="btn btn-primary submit-file">Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      $(document).on('change', ':file', function() {
        var input = $(this);
        var numFiles = input.get(0).files ? input.get(0).files.length : 1;
        var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
      });

      $(document).ready( function() {
        $(':file').on('fileselect', function(event, numFiles, label) {
          var input = $(this).parents('.input-group').find(':text');
          input.val(label);
        });
      });
    });
  </script>
{% endblock %}
