{% extends 'base.html' %}
{% set page = 'upload' %}

{% block title %}Upload{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 center-block">
      <h3>Загрузка</h3>
      {% include 'error_include.html' %}

      <form action="/upload" method="post" enctype="multipart/form-data">
        <!-- <input type="file" name="file" value="Choose a photo" /> -->

        <div class="input-group">
          <label class="input-group-btn">
            <span class="btn btn-primary">
              Выбрать файл&hellip; <input type="file" name="file" style="display: none;" multiple>
            </span>
          </label>
          <input type="text" class="form-control" readonly>
        </div>

        <button value="Upload" type="submit" class="btn btn-primary btn-block submit-file">Загрузить</button>
      </form>
    </div>
  </div>
  <div class="col-md-4"></div>
{% endblock %}

{% block scripts %}
  <script>
    $(function() {
      $(document).on('change', ':file', function() {
        var input = $(this);
        var numFiles = input.get(0).files ? input.get(0).files.length : 1;
        var label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
        input.trigger('fileselect', [numFiles, label]);
      });

      $(document).ready( function() {
        $(':file').on('fileselect', function(event, numFiles, label) {
          var input = $(this).parents('.input-group').find(':text');
          input.val(label);
        });
      });
    });
  </script>
{% endblock %}
