{% extends "qctf_checksystem/base.html" %}

{% block title %}Сообщения{% endblock %}

{% block content %}
  <div class="tim-title">
    {% for clar in clars %}
      <div class="row">
        <div class="col-md-6 center-block clar-block {% if clar.is_read %} read-clar {% endif %}">
          <h3>{{ clar.title }}</h3>
          <div class="time">
            {{ clar.time }}
          </div>
          <div class="clar-content">
              <p>
                  {{ clar.text|safe|linebreaksbr }}
              </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
