{% block navbar %}
<div id="navbar-full">
    <div class="container">
        <nav class="navbar navbar-ct-blue navbar-fixed-top" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#">
                     <div class="logo-container">
                        <div class="logo">
                            <img src="/static/img/logo.gif">
                        </div>
                        <div class="brand">
                            {% if user.is_authenticated %}{{ user.team.get_name|truncatechars_html:25 }}{% else %}QCTF{% endif %}
                        </div>
                    </div>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                    <li class="nav-data">
                      <ul>
                        <li><i class="fa fa-flag"></i>Флаги: <span id="flags-number">{{ user.team.tasks.count }}</span></li>
                        <li><i class="fa fa-money"></i>Баланс: <span id="balance">{{ user.team.balance }} $</span></li>
                      </ul>
                    </li>
                  {% endif %}
                  <li><a href="/" {% if request.get_full_path == "/" %} class="btn btn-round btn-default" {% endif %}>Задания</a></li>
                  <li><a href="/market/" {% if request.get_full_path == "/market/" %} class="btn btn-round btn-default" {% endif %}>Биржа</a></li>
                  <li><a href="/scoreboard/" {% if request.get_full_path == "/scoreboard/" %} class="btn btn-round btn-default" {% endif %}>Результаты</a></li>
                  <li><a href="/profile/logout/" {% if request.get_full_path == "/profile/logout/" %} class="btn btn-round btn-default" {% endif %}>Выйти</a></li>
               </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div><!--  end container-->
    <div class='blurred-container'>
    </div>


</div>
{% endblock %}
